<head>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>
<body>
    <app-nav-menu></app-nav-menu>
    <div style="margin-top: 50px;  padding: 50px;">
        <router-outlet></router-outlet>
    </div>
    <div class="footer">
        <div class="container" style="text-align: left;">
            <h2>ĐỒ ÁN MÔN HỌC</h2>
            <h2>Tên đề tài: Website bán giày</h2>
            <h2>MSSV: 1751010173</h2>
            <h2>Họ và tên: Trần Minh Truyền</h2>
            <h2>Giảng viên hướng dẫn: Hồ Quang Khải</h2>
        </div>
    </div>
</body>