
.container {
    padding: 16px;
    background-color: white;
}
  
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}
  
.registerbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    opacity: 0.9;
    font-size: 20px;
    font-weight: 500;
}

.cancelbtn {
    background-color: #ff4242;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    opacity: 0.9;
    font-size: 20px;
    font-weight: 500;
}
  
.registerbtn:hover {
    opacity: 1;
}
  
a {
    color: dodgerblue;
}

label {
    font-size: 20px;
}

.form-control{
    height: 50px;
    font-size: 20px;
    font-weight: 500;
}

.signin {
    background-color: #f1f1f1;
    text-align: center;
}