<component name="libraryTable">
  <library name="Spring Security-5.2.1" type="spring-security">
    <properties version="5.2.1" />
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/lib/spring-security-test/5.2.1.RELEASE/spring-security-test-5.2.1.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-security-core/5.2.1.RELEASE/spring-security-core-5.2.1.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-security-web/5.2.1.RELEASE/spring-security-web-5.2.1.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>