.row {  
    display: flex;
    flex-wrap: wrap;
}

.side {
    flex: 10%;
    background-color: grey;
    padding: 20px;
    border-radius: 25px;
    color: white;
}

.main {   
    flex: 70%;
    background-color: white;
    padding: 20px;
}

#description {
    overflow: auto;
}

#searchInput{
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
}

#searchButton{
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    width: 60px;
}

.card {
    width: 265px;
    margin-left: 20px !important;
    margin-top: 20px !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}
  
.price {
    color: grey;
    font-size: 22px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card button:hover {
    opacity: 0.7;
}

.pagination {
    padding: 20px;
}