.side {
    flex: 20%;
    background-color: #f1f1f1;
    padding: 20px;
}
.main {   
    flex: 80%;
    background-color: white;
    padding: 20px;
}
.row {  
    display: flex;
    flex-wrap: wrap;
}
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}
  
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
}